<div class="row my-2" style="border-bottom: 2px solid gray;padding-bottom: 10px;" routerLink="/product-details">
    <div class="col-4">
        <img src="assets\images\mask1.jpg" alt="" width="139px" height="139px">
    </div>
    <div class="col-7 mx-auto">
        <div class="card border-0">
            <div class="card-body">
              <h6 >Disposable 3 Ply Face <br> Mask : 5 Units</h6>
              <h6 class="text-muted float-right" style="text-decoration: line-through;">MRP &#8377;50.00</h6><br>
              <h5 class="float-right" style="color: green;">DMART &#8377;40.00</h5><br>
              <h6 class="float-right" style="color: red;">Save &#8377;10.00</h6><br>
            </div>
          </div>
    </div>
    <div class="col-5"></div>
    <div class="col-7 float-right">
        <button type="button" class="btn btn-outline-success float-left">5 U</button>&nbsp;
        <button type="button" class="btn btn-success">Add To Cart</button>
    </div>
</div>

<div class="row my-2" style="border-bottom: 2px solid gray;padding-bottom: 10px;">
    <div class="col-4">
        <img src="assets\images\kohinoor-rice.jpg" alt="" width="139px" height="139px">
    </div>
    <div class="col-7 mx-auto">
        <div class="card border-0">
            <div class="card-body">
              <h6 >Kohinoor Charminar Long <br> Grain Rice : 5 Kgs</h6>
              <h6 class="text-muted float-right" style="text-decoration: line-through;">MRP &#8377;499.00</h6><br>
              <h5 class="float-right" style="color: green;">DMART &#8377;199.00</h5><br>
              <h6 class="float-right" style="color: red;">Save &#8377;300.00</h6><br>
            </div>
          </div>
    </div>
    <div class="col-4"></div>
    <div class="col-8 float-right">
        <button type="button" class="btn btn-outline-success float-left">5 Kgs</button>&nbsp;
        <button type="button" class="btn btn-success">Add To Cart</button>
    </div>
</div>

<div class="row my-2" style="border-bottom: 2px solid gray;padding-bottom: 10px;">
    <div class="col-4">
        <img src="assets\images\surf.jpg" alt="" width="139px" height="139px">
    </div>
    <div class="col-7 mx-auto">
        <div class="card border-0">
            <div class="card-body">
              <h6 >Surf Excel Matic Front Load <br> Detergent Powder : Kgs</h6>
              <h6 class="text-muted float-right" style="text-decoration: line-through;">MRP &#8377;1099.00</h6><br>
              <h5 class="float-right" style="color: green;">DMART &#8377;969.00</h5><br>
              <h6 class="float-right" style="color: red;">Save &#8377;130.00</h6><br>
            </div>
          </div>
    </div>
    <div class="col-4"></div>
    <div class="col-8 float-right">
        <button type="button" class="btn btn-outline-success float-left">4 Kgs</button>&nbsp;
        <button type="button" class="btn btn-success">Add To Cart</button>
    </div>
</div>

<div class="row my-2" style="border-bottom: 2px solid gray;padding-bottom: 10px;">
    <div class="col-4">
        <img src="assets\images\pediasure.jpg" alt="" width="139px" height="139px">
    </div>
    <div class="col-7 mx-auto">
        <div class="card border-0">
            <div class="card-body">
              <h6 >Pediasure Nutritional <br> Power - Premium</h6>
              <h6 class="text-muted float-right" style="text-decoration: line-through;">MRP &#8377;975.00</h6><br>
              <h5 class="float-right" style="color: green;">DMART &#8377;916.00</h5><br>
              <h6 class="float-right" style="color: red;">Save &#8377;59.00</h6><br>
            </div>
          </div>
    </div>
    <div class="col-4"></div>
    <div class="col-8 float-right">
        <button type="button" class="btn btn-outline-success float-left">750 gm</button>&nbsp;
        <button type="button" class="btn btn-success">Add To Cart</button>
    </div>
</div>

<div class="row my-2" style="border-bottom: 2px solid gray;padding-bottom: 10px;">
    <div class="col-4">
        <img src="assets\images\tide.jpg" alt="" width="139px" height="139px">
    </div>
    <div class="col-7 mx-auto">
        <div class="card border-0">
            <div class="card-body">
              <h6 >Tide Plus Detergent Powder <br> - Lemon & Mint : 6 kgs</h6>
              <h6 class="text-muted float-right" style="text-decoration: line-through;">MRP &#8377;725.00</h6><br>
              <h5 class="float-right" style="color: green;">DMART &#8377;674.00</h5><br>
              <h6 class="float-right" style="color: red;">Save &#8377;51.00</h6><br>
            </div>
          </div>
    </div>
    <div class="col-4"></div>
    <div class="col-8 float-right">
        <button type="button" class="btn btn-outline-success">6 kg</button>&nbsp;
        <button type="button" class="btn btn-success">Add To Cart</button>
    </div>
</div>
