<div class="container">
    <div class="row" style="border-bottom: 2px solid gray;">
        <div class="col-10 py-5 mx-auto">
            <img src="assets\images\kohinoor-rice.jpg" width="100%" height="250px">
        </div>
    </div>
    <div class="row p-3">
        <div class="col-7">
            <h5>Kohinoor Charminar <br> Long Grain Rice : 5 <br> kgs</h5>
            <p class="text-muted" style="font-size: 13px;">Kohinoor</p><br>
            <button type="button" class="btn btn-outline-success">5kg</button>
        </div>
        <div class="col-5 text-right">
            <p class="text-muted float-right" style="text-decoration: line-through; font-size: 13px;">MRP &#8377;499.00</p><br>
            <h6>Dmart &#8377;199.00</h6>
            <p style="color: red; font-size: 15px;">Your Savings <span style="font-size: 12px; border-radius: 5px; padding: 5px 10px; background-color: orange; color: #fff;">&#8377;300.00</span></p>
        </div>
    </div>
    <div class="row">
        <h5 style="color: green; border-bottom: 1px solid green; margin-left: 5px;">DESCRIPTION</h5>
    </div>
    <hr>
    <div class="row">
        <div class="col-11 mx-auto">
            <p style="margin-top: 35px;">
                Charminar Long Grain Rice is a tribute to the remarkable taste of the Nizams. This distinct blended Basmati Rice is superior in quality making it perfect for special occasions and banquets where recipes are prepared in bulk. It is processed with utmost care so that every dish you cook brims with the flavour of generations.
            </p>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="row bg-white" style="position: fixed; bottom: 0; width: 100%;">
    <div class="col-5">
        <h6 style="padding: 10px 20px; color: gray;">ADD TO LIST</h6>
    </div>
    <div class="col-7">
        <h6 style="background-color: green; padding: 10px 40px">ADD TO CART</h6>
    </div>
</div>
<br>
<br>
