<ul class="nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
   <!-- Image and text -->
    <a class="navbar-brand" href="#" style="color: green;">
      <!-- <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> -->
      Bootstrap
    </a>

    <li class="nav-item justify-content-end" style="position: absolute; right: 0; margin-right: 35px; font-size: 20px;">
        <a class="nav-link" style="color: green;" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item  justify-content-end" style="position: absolute; right: 0; font-size: 20px; margin-right: 10px;">
        <a class="nav-link" style="color: green;" href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
    </li>
</ul>